.member-page__photo-container {
  flex: 0 0 187px;
  height: 187px;
  border-radius: 50%;
  overflow: hidden;
}

.member-page__photo {
  width: 100%;
  display: block;
  object-fit: contain;
  object-position: center;
}

.member-page__title {
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;
  color: #FFFFFF;
  margin: 0 0 16px 0;
}

.member-page__subtitle {
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
  margin: 0;
}

.member-page__body {
  display: flex;
  align-items: center;
}

.member-page__info {
  margin-left: 32px;
}

.member-page__container {
  max-width: 950px;
  margin: 0 auto;
}


.member-page__description {
  flex: 0 0 630px;
}

.member-page__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 136.19%;
  color: #151317;
  margin: 0 0 20px 0;
}

.member-page__text:last-child {
  margin: 0;
}

.member-page__tel {
  font-size: 16px;
  line-height: 136.19%;
  color: #151317;
  text-decoration: none;
  display: block;
  position: relative;
 padding-left: 30px;
 margin: 0 0 25px 0;
}

.member-page__tel::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  background-image: url('../../images/phone.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  bottom: 4px;
  left: 0;
}


.member-page__mail {
  font-size: 16px;
  line-height: 136.19%;
  color: #151317;
  display: block;
  text-decoration: none;
  position: relative;
  padding-left: 30px;
  margin: 0;
}

.member-page__mail::before {
  position: absolute;
  content: '';
  width: 21px;
  height: 15px;
  background-image: url('../../images/mail.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  bottom: 4px;
  left: 0;
}

.member-page__resume {
  display: flex;
  justify-content: space-between;
  padding-top: 49px;
  max-width: 950px;
  margin: 0 auto;
}

.header__back-btn-small {
  display: none;
}

@media (max-width: 1170px) {
  .member-page__body {
    justify-content: center;
  }
}

@media (max-width: 1000px) {
  .member-page__title {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
  }

  .member-page__subtitle {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
  }

  .member-page__body {
    flex-direction: column;
  }

  .member-page__photo-container {
    width: 187px;
    order: 2;
  }

  .member-page__info {
    order: 1;
    margin: 0 0 16px 0;
  }

  .member-page__description {
    order: 2;
  }

  .member-page__contacts {
    order: 1;
    margin-bottom: 34px;
  }

  .member-page__resume {
    flex-direction: column;
    max-width: 340px;
    padding: 33px 16px ;
  }

  .header__back-btn-small {
    width: 18px;
    height: 18px;
    background-image: url('../../images/back.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 23px;
    left: 27px;
    cursor: pointer;
    transition: opacity .3s ease;
    display: block;
  }

  .header__back-btn-small:hover {
    opacity: 0.7;
  }
}

