.registration__lable {
  display: block;
  font-size: 16px;
  line-height: 136.19%;
  margin: 0 0 8px;
  position: relative;
}

.registration__input {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: #808185;
  padding: 16px 8px 16px 16px;
  width: 468px;
  border: none;
  background-color: #F8F8F8;
  border-radius: 8px;
  border: 1px solid transparent;
  box-sizing: border-box;
}

.registration__input:last-child {
  margin-top: 0;
}

.registration__input_type_error {
  border: 1px solid red;
}


.registration__input_type_pw {
  margin-top: 8px;
}


.registration {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100vh;
}

.registration__container {
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  padding: 16px;
  
}

.registration__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin: 0 0 15px 0;
}

.registration__button {
  padding: 13px 156px;
  color: white;
  border-radius: 8px;
  background-color: #512689;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  transition: opacity .3s ease;

}

.registration__button_type_login {
  padding: 13px 210px;
}

.registration__button:hover {
  opacity: 0.8;
}

.registration__button:disabled {
  background-color: gray;
  cursor: auto;
  opacity: 1;
}

.registration__view-toggle {
  border: none;
  background-color: transparent;
  background-image: url('../../images/eye.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 24px;
  height: 24px;
  padding: 0;
  position: absolute;
  top: 43px;
  right: 8px;
  cursor: pointer;
  transition: opacity .3s ease;
}

.registration__view-toggle_type_visible {
  background-image: url('../../images/eye_without_line.svg');
}

.registration__view-toggle:hover {
  opacity: 0.8;
}


.registration__error {
  font-size: 10px;
  line-height: 12px;
  color: #FF6161;
  display: block;
  height: 14px;
  margin: 5px 0 16px;
}

.registration__redirect {
  display: block;
  text-align: center;
  text-decoration: none;
  color: inherit;
  margin: 10px 0 0 0;
  font-size: 12px;
}

.registration__redirect_type_span {
  color: #512689;
  display: inline-block;
}

@media (max-width: 767px) {
  .registration__input {
    width: 343px;
  }

  .registration__button {
    padding: 13px 93px;
  }

  .registration__button_type_login {
    padding: 13px 150px;
  }
}
